# Xcode
build/*
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
*.xcworkspace
!default.xcworkspace
xcuserdata
profile
*.moved-aside
FoodFriends_withUT.xcodeproj/project.pbxproj

FoodFriends_withUT.xcodeproj/project.xcworkspace/xcuserdata/Jin.xcuserdatad/UserInterfaceState.xcuserstate

FoodFriends_withUT/MainStoryboard.storyboard

FoodFriends_withUT.xcodeproj/project.pbxproj
